:root {
    --color-turquoise: #27bd9c;
    --color-green-sea: #21a185;

    --color-emerald: #2ece6d;
    --color-nephritis: #27af5d;

    --color-peter-river: #3b95dc;
    --color-belize-hole: #317fbb;

    --color-amethyst: #9b55b7;
    --color-wistoria: #8f3faf;

    --color-wet-asphalt: #34485e;
    --color-midnight-blue: #2d3e51;

    --color-sunflower: #efc507;
    --color-orange: #f19d08;

    --color-carrot: #e47e08;
    --color-pumpkin: #d15406;

    --color-alizarin: #e54b36;
    --color-pomegranate: #bf3825;

    --color-clouds: #ecf0f1;
    --color-silver: #bdc3c7;

    --color-concrete: #96a5a6;
    --color-asbestos: #808c8d;
}
